<div class="uk-container">
  <h2>Site Disabled</h2>

  <p>
    Currently this research project website is disabled and no user activity is allowed.
    Please check your email or discuss with your research coordinator for start and end times.
  </p>
</div>
